/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v29-latin-regular.eot');
  src: url('../fonts/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), 
       url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), 
       url('../fonts/open-sans-v29-latin-regular.svg#OpenSans') format('svg'); 
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v29-latin-700.eot'); 
  src: url('../fonts/open-sans-v29-latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), 
       url('../fonts/open-sans-v29-latin-700.woff') format('woff'),
       url('../fonts/open-sans-v29-latin-700.ttf') format('truetype'),
       url('../fonts/open-sans-v29-latin-700.svg#OpenSans') format('svg');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans', sans-serif;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: auto;
  padding-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
  height: 56px;
  left: 0%;
  right: 0%;
  top: 0px;  
  display: flex;
  justify-content: space-around;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-logo {
  position: absolute;
  width: 58px;
  height: 20px;
  left: 100px;
  top: 18px;  
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.4;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 340px;
  list-style-type: none;
}

.header-item {
  margin-right: 36px;
}

.header-link {
  text-decoration: none;
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.header-link:hover {
  box-shadow: 0px 2px 0px 0px black;
}

.header-button {
  width: 159px;
  height: 40px;
  margin-left: -300px;
  margin-top: 7px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #00BAFC;
  color: #fff;
}

.header-button:hover {
  border: solid 3px #00bafc;
  color: #00bafc;
  background: #fff;
}

.header-button:active {
  border: none;
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

/* hero-corps */

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-right: 90px;
  padding-left: 27px;
}

.hero-content {
  width: 470px;
  height: 224px;
  margin-top: -20px;
}

.hero-heading {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;  
}

.hero-text {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #000000; 
}

.hero-button {
  width: 232px;
  height: 40px;
  margin-top: 16px;
  border: none;
  cursor: pointer;
  background: #00BAFC;
  border-radius: 5px;
  color: #fff;  
}

.hero-button:hover {
  background: rgba(0, 186, 252, 0.8);
  color: #fff;
}

.hero-button:active {
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

.hero-video {
  border: none;
  border-radius: 5px;
}


/* service-corps */

/* .service {
  /* display: flex; */
  
  .service-content {
    display: flex;
    width: 719px;
    text-align: center;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 56px;
  }

  .service-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;    
  }

  .service-text {
    font-family: 'open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
  }

 .service-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 25px;
 }

 .service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 260px;
  margin-right: 70px;
  margin-bottom: 48px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3 ease;
 }

 .service-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
 }
 
 .service-item:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 }
 
 .service-item-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 260px;
  margin-left: 200px;
  margin-right: 0px;
  margin-bottom: 48px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 }

 .service-item-bottom:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
 }

 .service-item-bottom:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 }

 .service-item-bottom-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 260px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 48px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 }

 .service-item-bottom-two:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
 }

 .service-item-bottom-two:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 }

 .service-item-heading {
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
 }

 .service-item-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
 }
  