/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v29-latin-regular.eot');
  src: url('../fonts/open-sans-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'),
       url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), 
       url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), 
       url('../fonts/open-sans-v29-latin-regular.svg#OpenSans') format('svg'); 
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v29-latin-700.eot'); 
  src: url('../fonts/open-sans-v29-latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), 
       url('../fonts/open-sans-v29-latin-700.woff') format('woff'),
       url('../fonts/open-sans-v29-latin-700.ttf') format('truetype'),
       url('../fonts/open-sans-v29-latin-700.svg#OpenSans') format('svg');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'open-sans', sans-serif;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: auto;
  padding-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
  height: 56px;
  left: 0%;
  right: 0%;
  top: 0px;  
  display: flex;
  justify-content: space-around;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-logo {
  position: absolute;
  width: 58px;
  height: 20px;
  left: 100px;
  top: 18px;  
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.4;
}

.header-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 340px;
  list-style-type: none;
}

.header-item {
  text-align: center;
  margin-right: 36px;
}



.header-link {
  text-decoration: none;
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.header-link:hover {
  border-bottom: 2px solid #000;
}

.header-link:active {
  border-color: transparent;
  background: rgba(25, 25, 25, 0.7);
  box-shadow: 0px 0px 0px 16px rgba(25, 25, 25, 0.7);
  color: #fff;
}

.header-button {
  width: 159px;
  height: 40px;
  margin-left: -300px;
  margin-top: 7px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #00BAFC;
  color: #fff;
}

.header-button:hover {
  border: solid 3px #00bafc;
  color: #00bafc;
  background: #fff;
}

.header-button:active {
  border: none;
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

/* hero-corps */

.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-right: 90px;
  padding-left: 27px;
}

.hero-content {
  width: 470px;
  height: 224px;
  margin-top: -20px;
}

.hero-heading {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;  
}

.hero-text {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #000000; 
}

.hero-button {
  width: 232px;
  height: 40px;
  margin-top: 16px;
  border: none;
  cursor: pointer;
  background: #00BAFC;
  border-radius: 5px;
  color: #fff;  
}

.hero-button:hover {
  background: rgba(0, 186, 252, 0.8);
  color: #fff;
}

.hero-button:active {
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

.hero-video {
  border: none;
  border-radius: 5px;
}

/* main-section */

/* service-corps */


  
  .service-content {
    display: flex;
    width: 719px;
    text-align: center;
    flex-direction: column;
    margin-left: 250px;
    margin-top: 56px;
  }

  .service-heading {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;    
  }

  .service-text {
    font-family: 'open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
  }

 .service-list {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  margin-left: 20px;
  margin-top: 25px;
 }

 .service-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 260px;
  margin-right: 70px;
  margin-bottom: 48px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: transform 0.3 ease;
 }

 .service-item:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
 }
 
 .service-item:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 }
 
 .service-item-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 260px;
  margin-left: 200px;
  margin-right: 0px;
  margin-bottom: 48px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 }

 .service-item-bottom:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
 }

 .service-item-bottom:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 }

 .service-item-bottom-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 260px;
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 48px;
  padding: 24px;
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
 }

 .service-item-bottom-two:hover {
  transform: scale(1.1);
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
 }

 .service-item-bottom-two:active {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 }

 .service-item-heading {
  font-family: 'Open Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
 }

 .service-item-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: -5px;
 }

 .hero-button-content {
  margin-top: -30px;
  margin-left: 430px;
 }

 .hero-link {
  margin-left: 7px;
  color: #00bafc;
 }

 /* work-info */


 .work-info-content {
  width: 719px;
  margin-top: 150px;
  margin-left: 290px;
  text-align: center;
 }

 .work-info-content-heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
 }

 .work-info-content-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
 }

 .work-info-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .work-info-item {
  display: flex;
  align-items: center;
  width: 842px;
  height: 278px;
  margin-top: 50px;
 }
 
 .work-info-item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px;
  margin-right: 90px;
 }

 .work-info-item-content{
  display: flex;
  flex-direction: column;
  margin-left: 50px; 
 }

 .work-info-item-content:nth-child(even) {
  width: 500px;
  margin-right: 50px;
 } 

 .work-info-item-heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
 }
  
.work-info-item-text {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.work-info-button {
  width: 167px;
  height: 40px;
  margin-top: 20px;
  margin-left: 580px;
  cursor: pointer;
  background: #00BAFC;
  border: none;
  border-radius: 5px;
  color: #fff;
}

.work-info-button:hover {
  background: rgba(0, 186, 252, 0.8);
  color: #fff;
}

.work-info-button:active {
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

/* footer-section */
/* order-corps */

.order {
  width: 1440px;
  height: 583px;
  position: absolute;
  left: 0%;
  top: 3358px;
  margin-left: 0px;
  background: #00bafc;
}

.order-heading {
  text-align: center;
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;  
  margin-top: 56px;
  color: #fff;
}

.order-text {
  text-align: center;
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 550px;
  padding: 20px;
  width: 348px;
  height: 320px;
  border-radius: 5px;
  background-color: #fff;
}

.order-input {
  width: 300px;
  height: 56px;
  margin-top: 20px;
  padding-left: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #f3f3f3;
}

.order-input::placeholder {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.order-select {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 300px;
  height: 56px;
  margin-top: 20px;
  padding-left: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background: #f3f3f3;
}

.order-button {
  width: 167px;
  height: 40px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #00bafc;
  color: #fff;
}

.order-button:hover {
  background: rgba(0, 186, 252, 0.8);
  color: #fff;
}

.order-button:active {
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

/* info-site-corps */

.info-site {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 358px;
  left: 0px;
  top: 3941px;
  background: #191919;
}

.info-site-content {
  width: 320px;
  height: 162px;
  margin-top: 56px;
  margin-left: 100px;
}

.info-site-content-heading {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.info-site-content-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.info-site-list {
  margin-top: 50px;
  margin-left: 100px;
  list-style-type: none;
}

.info-site-item {
  margin-bottom: 5px;
}

.info-site-item-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%; 
  color: #fff; 
}

.info-site-item-link {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px; 
  color: #fff;
}

.info-site-item-link:hover {
  color: #00bafc;
}

.info-site-item-link:active {
  color: #00bafc;
  opacity: 0.6;
}

.info-site-list-right {
  margin-top: 53px;
  margin-left: 87px;
  list-style-type: none;
  color: #fff;
}

.info-site-item-right {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;  
  margin-bottom: 8px;
}

.info-site-item-right-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.info-site-item-right-link {
  text-decoration: none;
  color: #fff;
}

.info-site-item-right-link:hover {
  color: #00bafc;
}

.info-site-item-right-link:active {
  color: #00bafc;
  opacity: 0.6;
}

.info-site-item-right-img {
  width: 22px;
  height: 24px;
  vertical-align: middle;
  margin-right: 10px;
}


/* pixer-service-html */

/* pixer-service-corps */

.pixer-service {
  width: 1300px;
  height: 284px;
  margin-top: 100px;
}

.pixer-service-heading {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-left: 540px;
  margin-top: 172px;
}

.pixer-service-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* pixer-site-corps */

.pixer-site {
  position: absolute;
  left: 0%;
  width: 1440px;
  height: 2346px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.create-site {
  width: 804px;
  height: 378px;
  margin-top: 100px;
  display: flex;
  background: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;  
}

.create-site-img {
  width: 200px;
  height: 117px;
  margin-left: 32px;
  margin-top: 42px;
}

.pixer-site-content {
  width: 500px;
  margin-top: 15px;
  margin-left: 42px;
}

.pixer-site-title {
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
}

.pixer-site-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pixer-site-list {
  margin-left: -40px;
  list-style-type: none;
}

.pixer-site-item {
  display: flex;
  margin-bottom: 8px;
  font-family: 'open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.pixer-site-item::before {
  content: "";
  display: flex;
  margin-top: 6px;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: #00bafc;
  border-radius: 12px;
}

.site-button {
  width: 167px;
  height: 40px;
  margin-top: 7px;
  cursor: pointer;
  border: none;
  background: #00bafc;
  border-radius: 5px;  
  color: #fff; 
}

.site-button:hover {
  background: rgba(0, 186, 252, 0.8);
  color: #fff;
}

.site-button:active {
  background: rgba(0, 186, 252, 0.6);
  color: #fff;
}

.site-link {
  margin-left: 16px;
  color: #00bafc;
}

.create-bot {
  width: 804px;
  height: 410px;
  margin-top: 80px;
  display: flex;
  background: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;  
}

.create-bot-img {
  width: 200px;
  height: 117px;
  margin-top: 42px;
  margin-left: 32px;
}

.smm {
  display: flex;
  width: 804px;
  height: 378px;
  margin-top: 64px;
  background: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.smm-img {
  width: 200px;
  height: 148px;
  margin-top: 42px;
  margin-left: 32px;
}

.graphics-designer {
  display: flex;
  width: 804px;
  height: 346px;
  margin-top: 64px;
  background: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.graphics-designer-img {
  width: 200px;
  height: 145px;
  margin-top: 42px;
  margin-left: 32px;
}

.crm {
  display: flex;
  width: 804px;
  height: 358px;
  margin-top: 64px;
  background: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.crm-img {
  width: 200px;
  height: 153px;
  margin-top: 42px;
  margin-left: 32px;
}

.pixar-site-order {
  position: absolute;
  width: 1440px;
  height: 600px;
  left: 0px;
  top: 2800px; 
  background-color: #00bafc; 
}

.pixar-info-site {
  display: flex;
  position: absolute;
  width: 1440px;
  height: 353px;
  left: 0px;
  top: 3400px;
  background-color: #191919;
}